<div class="interactive-wrapper">

    <div class="header-wrapper">
        <div id="intro_header"></div>
        <div class="interactive-header-wrapper">
            <!--div class="int-tag">
                Coronavirus
            </div-->
            <div class="headline-wrapper">
                <h1>How contagious is coronavirus? And how can we beat it?</h1>
            </div>
            <p class="standfirst">
                <span>Amid an exponential increase in infections and mounting deaths, researchers are racing to identify the characteristics of the novel coronavirus Covid-19 and to prepare strategies to limit the pandemic’s impact</span>
            </p>

        </div>
    </div>

    <div class="editorial-wrapper">

        <div class="int-byline">

            <a href="https://www.theguardian.com/profile/nick-evershed">Nick Evershed</a> and <a href="https://www.theguardian.com/profile/andy-ball">Andy Ball</a>
            <!--time class="int-date" data-timestamp="1553842806000" datetime="2019-10-10T07:00:06+0000" itemprop="datePublished">8 October 2019</time-->
            <div class="social_isolation">
                <ul class="od-share">
                    <li class="od-share__button od-share__button--facebook interactive-share" data-network="facebook">
                        <svg class="od-share__icon" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                        <path d="M32.8 15H30c-2.2 0-2.6 1.1-2.6 2.6V21h5.3l-.7 5.3h-4.6V40h-5.5V26.3h-4.6V21h4.6v-3.9c0-4.6 2.8-7 6.8-7a31.28 31.28 0 0 1 4.1.2V15z"></path></svg>
                    </li>
                    <li class="od-share__button od-share__button--twitter interactive-share" data-network="twitter">
                        <svg class="od-share__icon" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                        <path d="M36 19.3v.7c0 7.5-5.7 16.2-16.2 16.2a15.36 15.36 0 0 1-8.7-2.6 6.15 6.15 0 0 0 1.4.1 11.69 11.69 0 0 0 7.1-2.4 5.58 5.58 0 0 1-5.3-4 3.75 3.75 0 0 0 1.1.1 7.72 7.72 0 0 0 1.5-.2 5.7 5.7 0 0 1-4.6-5.6v-.1a5.59 5.59 0 0 0 2.6.7 5.73 5.73 0 0 1-2.5-4.7 6 6 0 0 1 .8-2.9 16.11 16.11 0 0 0 11.7 5.9 5.7 5.7 0 0 1-.1-1.3 5.7 5.7 0 0 1 5.7-5.7 6 6 0 0 1 4.2 1.8 11.25 11.25 0 0 0 3.6-1.4 6 6 0 0 1-2.5 3.2 9.54 9.54 0 0 0 3.3-.9 15.15 15.15 0 0 1-3.1 3.1z"></path></svg>
                    </li>
                </ul>
            </div>
        </div>
        
        <p>One important characteristic of viruses and other pathogens is how contagious they are.</p>

        <p>This is measured in a few ways. One key measure is the <a href="https://www.healthknowledge.org.uk/public-health-textbook/research-methods/1a-epidemiology/epidemic-theory">R0, or basic reproduction number</a>, which indicates how many new cases one infected person generates.</p>

        <p>For an R0 of three we would expect each new case of a disease to produce three other infections.</p>

        <p>This is not just a measure of the inherent infectiousness of a disease. It also depends on other factors, including the rate of contact within a population and the duration of the infectious period. It's a situation-dependent value, so in one city the R0 might be higher and in another lower. It also assumes that the entire population is susceptible to the disease.</p>

        <p>Early studies of the behaviour of Covid-19 in Wuhan estimated the average R0 to be between 2.2 and 2.7, while smaller-scale outbreaks such as the one that occurred onboard the <a href="https://www.ijidonline.com/article/S1201-9712(20)30091-6/fulltext#%20">Diamond Princess</a> had an R0 estimated at 2.2. Other studies suggest that values as <a href="https://www.nature.com/articles/s41421-020-0148-0">low as 1.5 and as high as 3.8 were possible</a>.</p>

        <p>So what does that look like, and how does it compare with other diseases?</p>

    </div>

	<div id="scrolly-1" data-loader="rzero">
	    <div class="scroll-wrapper">
	        <div class="scroll-inner">
	            <div id="chart-animation">
                    <div class="radial-chart-container">
                        <div id="radial-chart"></div>
                    </div>
                </div>
	        </div>
	        <div class="scroll-text">
	            <div class="scroll-text__inner">
	                <div class="scroll-text__div">
	                    Here, you can see a <span class="infected">small red circle</span> representing one infected person.
	                </div>
	            </div>
	            <div class="scroll-text__inner">
	                <div class="scroll-text__div"> 
	                    With a R0 of 2.6 the initial infection results in two to three other cases...
	                </div>
	            </div>
	            <div class="scroll-text__inner">
	                <div class="scroll-text__div">
	                    ...and those people pass the infection on to two to three others
	                </div>
	            </div>

                <div class="scroll-text__inner">
                    <div class="scroll-text__div">
                        ...And so on. In the case of the Covid-19 virus each new phase takes on average between five and six days.
                    </div>
                </div>

                <div class="scroll-text__inner">
                    <div class="scroll-text__div">
                        Here we can see how the spread is drastically reduced by <span class="isolated">isolating</span> just one individual.
                    </div>
                </div>

                <div class="scroll-text__inner">

                </div>

	        </div>
	    </div>
	</div>

    <div class="editorial-wrapper">

        <p>How does Covid-19 compare with other diseases?</p>

        <p>Here, you can see the same spread patterns generated based on the R0 for a range of pathogens in a range of situations, ranging from Spanish flu to the highly contagious measles, for which R0 has been estimated to range between 12 and 18.</p>

    </div>

	<div id="r-zero-small-multiples" data-loader="multiples">
     
        <div class="virology">
            <img src="<%= path %>/assets/virology/microbe-1.svg" alt="">
        </div>

        <div class="virology">
            <img src="<%= path %>/assets/virology/microbe-2.svg" alt="">
        </div>

        <div class="virology">
            <img src="<%= path %>/assets/virology/microbe-3.svg" alt="">
        </div>

        <div class="virology">
            <img src="<%= path %>/assets/virology/microbe-4.svg" alt="">
        </div>

        <div class="virology">
            <img src="<%= path %>/assets/virology/microbe-5.svg" alt="">
        </div>

        <div class="virology">
            <img src="<%= path %>/assets/virology/microbe-6.svg" alt="">
        </div>

        <div class="virology">
            <img src="<%= path %>/assets/virology/microbe-7.svg" alt="">
        </div>

        <div class="virology">
            <img src="<%= path %>/assets/virology/microbe-8.svg" alt="">
        </div>

    </div>

    <div class="editorial-wrapper">

        <p>But the R0 is not the only important number. The effective reproduction number, R, is a value that takes into account the susceptibility of the population.</p>

    </div>

    <div id="scrolly-2" data-loader="effective">
        <div class="scroll-wrapper">
            <div class="scroll-inner">

                <div id="effective-simulator"></div>

            </div>

            <div class="scroll-text">

                <div class="scroll-text__inner">
                    <div class="scroll-text__div">
                        Here, we start with a single person carrying an <span class="infected">infection</span> in a hypothetical population of 1,000 <span class="uninfected">uninfected</span> people.
                    </div>
                </div>

                <div class="scroll-text__inner">
                    <div class="scroll-text__div">
                        With any R value greater than 1, and a population that is entirely susceptible, the infection will spread throughout.
                    </div>
                </div>

                <div class="scroll-text__inner">
                    <div class="scroll-text__div">
                        But if some people are not susceptible to infection – because of immunity through vaccination, because they have previously been infected or because of other biological reasons – or if transmission is curbed due to part of the population being isolated, then the effective R value becomes lower, and the spread is incomplete, and slowed.
                    </div>
                </div>

                <div class="scroll-text__inner">
                    <div class="scroll-text__div">
                        If the effective R is reduced below zero, the spread can be halted. Reducing the R generally will also allow healthcare systems to better cope with the influx of patients.
                    </div>
                </div>

                <div class="scroll-text__inner">
                    <div class="scroll-text__div">
                        Another variable is how deadly the disease is. Some diseases, like Ebola, have a lower R0 than other diseases but a high fatality rate. Here, the <span class="death">purple circles</span> indicate a death after the infection has moved through the population.
                    </div>
                </div>

                <div class="scroll-text__inner"></div>

            </div>
        </div>
    </div>

    <div class="editorial-wrapper">

        <p>The estimated fatality rate for Covid-19 varies again depending on the location and situation, and particularly on the level of testing being conducted. In the early outbreak in China, for example, <a href="https://jamanetwork.com/journals/jama/fullarticle/2762130?guestAccessKey=bdcca6fa-a48c-4028-8406-7f3d04a3e932&utm_source=For_The_Media&utm_medium=referral&utm_campaign=ftm_links&utm_content=tfl&utm_term=022420&mod=article_inline">one report put the case fatality rate at 2.3%</a>. In South Korea the virus has an estimated case fatality rate of 1.2%.</p> 

        <p>Here, you can set the thresholds for different values and see the result using our simplified model. The reality of pandemics is far more complex but this does demonstrate the basic concepts underlying the spread of diseases. This model uses a hypothetical population of 1,000 people to better visualise the proportion of infections and deaths, and assumes that every person can come into contact with every other person in the population.</p>

    </div>

    <div id="scrolly-3" data-loader="pathogen">

        <div class="scroll-wrapper">

            <div class="scroll-inner">

                <div id="settings"></div>

                <div id="info"></div>

                <div id="pathogen-panel" class="boom hide">

                    <div id="settings-close" class="close"></div>

                    <div class="control-panel">
                        
                        <strong><span title="" class="tipper"></span>R number: <span id=r0></span></strong>
                    
                        <div class="filter_slider"></div>

                        <div class="legend_container">
                            The effective reproductive number (<em>R or Re</em>) is defined as the average number of secondary cases generated by each infectious case
                        </div>

                    </div>

                    <div class="control-panel">

                        <strong><span title="" class="tipper"></span>Fatality rate: <span id=r1></span></strong>
                
                        <div class="filter_slider"></div>

                        <div class="legend_container">

                            <em>Fatality rate</em> is the percentage of deaths caused by a disease compared to the total number of people with the disease.
                        
                        </div>

                    </div>

                    <div class="control-panel">

                        <strong><span title="" class="tipper"></span>Susceptibility: <span id=r2></span></strong>
                
                        <div class="filter_slider"></div>

                        <div class="legend_container">

                            <em>Susceptibility</em> indicates if a person can become infected. This could be due to vaccination or immunity acquired through prior infection.
                        
                        </div>


                    </div>

                    <div class="control-panel">

                        <strong><span title="" class="tipper"></span>Isolation rate: <span id=r3>0%</span></strong>
                
                        <div class="filter_slider"></div>

                        <div class="legend_container">

                            The <em>isolation rate</em> is the percentage of the entire population which is isolated or quarantined.
                        
                        </div>


                    </div>


                </div>

                <div id="pathogen-simulator"></div>

                <div id="key-container">
                    
                    <div id="context" class="key-main">
                        
                    <h2>About</h2>
                    <p>Choose a case study or use the sliders to see a scenario play out</p>

                    </div>

                    <div class="key-menu">
                        
                        <div class="filter-label">Case study: <span class="selection-name">select a scenario</span></div>

                        <select id="cases-dropdown">
                          <option value="0">Diamond Princess</option>
                          <option value="1">Wuhan</option>
                          <option value="2">Korean cluster</option>
                          <option value="3">Measles</option>
                          <option value="4">Ebola</option>
                          <option value="5">Contagion</option>
                        </select>

                    </div>

                </div>

                <div id="info-panel" class="infoid hide">
                    <div id="info-close" class="close"></div>
                    <div id="info-display">
                        Population of 1000 people
                    </div>
                </div>

                <div id="cases">

                    <strong>Case studies (Covid-19)</strong>
                    
                    <div class="case" data-id="0">Diamond Princess<sup>1</sup></div>

                    <div class="case" data-id="1">No intervention<sup>2</sup></div>

                    <div class="case" data-id="2">Strong intervention<sup>3</sup></div>

                    <strong>Other diseases</strong>

                    <div class="case" data-id="3">Measles<sup>4</sup></div>

                    <div class="case" data-id="4">Ebola<sup>5</sup></div>

                    <strong>Pandemics in the movies</strong>

                    <div class="case" data-id="5">Contagion<sup>6</sup></div>

                </div>

            </div>

            <div class="scroll-text">

                <div class="scroll-text__inner"></div>

                <div class="scroll-text__inner"></div>

                <div class="scroll-text__inner"></div>

            </div>

        </div>

    </div>

    <div class="editorial-wrapper">

        <h2>Notes</h2>

            <div class="notes">

            <p>The isolation value is not used for most of the case studies as isolation data is not usually available.</p>
        
            <ol>
                <li>The Diamond Princess case study is intended to visualise the proportional outcome of Covid-19 infections onboard the Diamond Princess. The susceptible proportion of the population to 18% based on an attack rate of 18% (696 cases / 3711 total passengers) and is not indicative of the true susceptibility figure (which might be closer to 100%). Isolation is not used as there is no data available. The death rate is set at 1.8% based on the current total of deaths (13) over cases (696). The R0 used is from <a href="https://www.ijidonline.com/article/S1201-9712(20)30091-6/fulltext#%20">Zhang et al. 2020</a>.</li>
                <li>The no intervention case study is an example that uses figures from various sources to show a hypothetical scenario with no isolation measures. The susceptible proportion of the population is set to 70% based on <a href="https://www.theguardian.com/world/2020/feb/11/coronavirus-expert-warns-infection-could-reach-60-of-worlds-population">comments here</a> and is not indicative of the true susceptibility figure (which might be closer to 100%). The death rate is set at 1% based on various estimates of the case fataliy ratio from cases in China (<a href="https://www.imperial.ac.uk/news/195217/coronavirus-fatality-rate-estimated-imperial-scientists/">Verity et al. 2020</a>, <a href="https://www.imperial.ac.uk/news/195217/coronavirus-fatality-rate-estimated-imperial-scientists/">Wighton et al. 2020</a>). The R0 used is 2.7.</li>
                <li>The strong intervention case study is an example that uses figures from various sources to show a hypothetical scenario with social distancing and isolation measures covering 40% of the population. The susceptible proportion of the population is set to 70% based on <a href="https://www.theguardian.com/world/2020/feb/11/coronavirus-expert-warns-infection-could-reach-60-of-worlds-population">comments here</a> and is not indicative of the true susceptibility figure (which might be closer to 100%). The death rate is set at 0.66%, lower than the no intervention scenario as it assumes health care would cope better with reduced case load. The R0 used is 2.7.</li>
                <li>
                    The measles case study uses values from <a href="https://informationisbeautiful.net/visualizations/the-microbescope-infectious-diseases-in-context/">Information is Beautiful</a> and the <a href="https://www.cdc.gov/measles/index.html">CDC</a>. Actual R0 for measles can <a href="https://www.ncbi.nlm.nih.gov/pubmed/28757186">vary widely</a> depending on the country and if studies were done before or after the introduction of the measles vaccine. Case fatality ratios also very widely depending on the country and <a href="https://www.who.int/immunization/sage/Review%20article%20of%20measles%20CFRs.pdf">outbreak situation</a>. 
                </li>

                <li>
                    The ebola case study uses a R0 from <a href="https://www.sciencedirect.com/science/article/pii/S0022519316302466?via%3Dihub">Taylor et al 2016</a>, a case fatality rate <a href="https://www.who.int/news-room/fact-sheets/detail/ebola-virus-disease">from the WHO</a> and sets susceptibility to 30% based on an <a href="https://www.seattlechildrens.org/conditions/a-z/ebola-exposure/">attack rate of 30%</a> (actual susceptibility might differ).
                </li>
                <li>
                    The Contagion case study uses a R0 of from the movie.
                </li>        
            </ol>   
            <p>R0 references for other diseases: <a href="https://academic.oup.com/aje/article/160/6/509/79472">Sars</a>, <a href="https://www.cidrap.umn.edu/news-perspective/2020/01/data-suggest-ncov-more-infectious-1918-flu-what-does-mean">Spanish flu</a>, <a href="http://ocw.jhsph.edu/courses/PublicHealthBiology/PDFs/Lecture2.pdf">Chickenpox</a>.</p>
            </div>
    </div>
 
</div>

<div class="footer" id="footer">
    
    <div class="credits_read_more"><h2>Read more</h2></div>

    <ul class="footer-grid">

        <li>
            <div class="footer-item-container">
                <img src="https://media.guim.co.uk/3d83c451f3f439da54339a46e536d8995747e71d/239_96_589_353/589.jpg">
                <div class="footer-text-content">
                    <h2>Coronavirus world map: which countries have the most cases and deaths?</h2>
                </div>
                <a class="anchor" href="https://www.theguardian.com/world/2020/apr/20/coronavirus-world-map-which-countries-have-the-most-cases-and-deaths" target="_blank"></a>
            </div>
        </li>
    
        <li>
            <div class="footer-item-container">
                <img src="https://i.guim.co.uk/img/media/aada1b794bcc3a370de539510a88f01e2e7e35a9/0_0_1000_600/master/1000.jpg?width=300&quality=45&auto=format&fit=max&dpr=2&s=7435849100f49d3e79015317b5fab08b">
                <div class="footer-text-content">
                    <h2>Coronavirus numbers in Australia: how many new cases are there?</h2>
                </div>
                <a class="anchor" href="https://www.theguardian.com/australia-news/datablog/ng-interactive/2020/apr/20/coronavirus-australia-numbers-how-many-new-cases-today-deaths-death-toll-covid-19-stats-graph-map-by-postcode" target="_blank"></a>
            </div>
        </li>

        <li>
            <div class="footer-item-container">
                <img src="https://media.guim.co.uk/5acb060bb9fd5654d192a280c9eec4c7c8a523ff/0_40_3000_1800/3000.jpg">
                <div class="footer-text-content">
                    <h2>Coronavirus map of the US: latest cases state by state</h2>
                </div>
                <a class="anchor" href="https://www.theguardian.com/world/ng-interactive/2020/apr/20/coronavirus-map-of-the-us-latest-cases-state-by-state" target="_blank"></a>
            </div>
        </li>

        <li>
            <div class="footer-item-container">
                <img src="https://i.guim.co.uk/img/media/5b2b3cb838cad4b2f84035d497623223b2625798/0_88_3500_2100/master/3500.jpg?width=620&quality=45&auto=format&fit=max&dpr=2&s=3e9cf47176fb413de4e2be4eec891916">
                <div class="footer-text-content">
                    <h2>The Guardian's live coverage of the coronavirus outbreak</h2>
                </div>
                <a class="anchor" href="https://www.theguardian.com/world/series/coronavirus-live" target="_blank"></a>
            </div>
        </li>

    </ul>

</div>