<div class="interactive-wrapper">

    <div class="header-wrapper">
        <div id="intro_header"></div>
        <div class="interactive-header-wrapper">
            <!--div class="int-tag">
                Coronavirus
            </div-->
            <div class="headline-wrapper">
                <h1>How contagious is coronavirus, and how we can beat it</h1>
            </div>
            <p class="standfirst">
                <span>With an exponential increase in infections and a mounting number of deaths, researchers are racing to identify the characteristics of the novel coronavirus Covid-19, and prepare strategies to limit the impact of the pandemic.</span>
            </p>

        </div>
    </div>

    <div class="editorial-wrapper">

        <div class="int-byline">

            <a href="https://www.theguardian.com/profile/nick-evershed">Nick Evershed</a> and <a href="https://www.theguardian.com/profile/andy-ball">Andy Ball</a>
            <!--time class="int-date" data-timestamp="1553842806000" datetime="2019-10-10T07:00:06+0000" itemprop="datePublished">8 October 2019</time-->
            <div class="social_isolation">
                <ul class="od-share">
                    <li class="od-share__button od-share__button--facebook interactive-share" data-network="facebook">
                        <svg class="od-share__icon" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                        <path d="M32.8 15H30c-2.2 0-2.6 1.1-2.6 2.6V21h5.3l-.7 5.3h-4.6V40h-5.5V26.3h-4.6V21h4.6v-3.9c0-4.6 2.8-7 6.8-7a31.28 31.28 0 0 1 4.1.2V15z"></path></svg>
                    </li>
                    <li class="od-share__button od-share__button--twitter interactive-share" data-network="twitter">
                        <svg class="od-share__icon" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                        <path d="M36 19.3v.7c0 7.5-5.7 16.2-16.2 16.2a15.36 15.36 0 0 1-8.7-2.6 6.15 6.15 0 0 0 1.4.1 11.69 11.69 0 0 0 7.1-2.4 5.58 5.58 0 0 1-5.3-4 3.75 3.75 0 0 0 1.1.1 7.72 7.72 0 0 0 1.5-.2 5.7 5.7 0 0 1-4.6-5.6v-.1a5.59 5.59 0 0 0 2.6.7 5.73 5.73 0 0 1-2.5-4.7 6 6 0 0 1 .8-2.9 16.11 16.11 0 0 0 11.7 5.9 5.7 5.7 0 0 1-.1-1.3 5.7 5.7 0 0 1 5.7-5.7 6 6 0 0 1 4.2 1.8 11.25 11.25 0 0 0 3.6-1.4 6 6 0 0 1-2.5 3.2 9.54 9.54 0 0 0 3.3-.9 15.15 15.15 0 0 1-3.1 3.1z"></path></svg>
                    </li>
                </ul>
            </div>
        </div>
        
        <p>One important characteristic of viruses and other pathogens is how contagious they are. </p>

        <p>This is measured in a few ways. One key measure is the <a href="https://www.healthknowledge.org.uk/public-health-textbook/research-methods/1a-epidemiology/epidemic-theory">R0, or basic reproduction number</a>, which indicates how many new cases an infected person generates.</p>

        <p>For an R0 of three we would expect each new case of a disease to produce three other infections.</p>

        <p>This is not just a measure of the inherent "infectiousness" of a disease, as it also depends on other factors like the rate of contact within a population and the duration of the infectious period. It's a situation-dependent value, so in one city the R0 might be higher, and in another it might be lower. It also assumes that the population is entirely susceptible to the disease.</p>

        <p>Early studies on the behaviour of Covid-19 in Wuhan, and smaller-scale outbreaks like the one which occurred aboard the <a href="https://www.ijidonline.com/article/S1201-9712(20)30091-6/fulltext#%20">Diamond Princess</a>, estimated the average R0 to be around 2.2, with other studies suggesting values as <a href="https://www.nature.com/articles/s41421-020-0148-0">low as 1.5 and as high as 3.8 also possible</a>.</p>

        <p>So what does that look like, and how does it compare with other diseases?</p>

    </div>

	<div id="scrolly-1" data-loader="rzero">
	    <div class="scroll-wrapper">
	        <div class="scroll-inner">
	            <div id="chart-animation">
                    <div class="radial-chart-container">
                        <div id="radial-chart"></div>
                    </div>
                </div>
	        </div>
	        <div class="scroll-text">
	            <div class="scroll-text__inner">
	                <div class="scroll-text__div">
	                    Here, you can see a <span class="infected">small red circle</span> representing an infected person.
	                </div>
	            </div>
	            <div class="scroll-text__inner">
	                <div class="scroll-text__div"> 
	                    With a R0 of 2.6, like that estimated for the outbreak in Wuhan, the initial infection results in two to three other cases…
	                </div>
	            </div>
	            <div class="scroll-text__inner">
	                <div class="scroll-text__div">
	                    ...and those people pass the infection on to two to three others
	                </div>
	            </div>

                <div class="scroll-text__inner">
                    <div class="scroll-text__div">
                        ...And so on. In the case of Covid-19 virus each new phase takes between five and six days.
                    </div>
                </div>

                <div class="scroll-text__inner">
                    <div class="scroll-text__div">
                        Here we can see how the spread of virus is drastically reduced by sucessfully <span class="isolated">isolating</span> just one individual.
                    </div>
                </div>

                <div class="scroll-text__inner">

                </div>

	        </div>
	    </div>
	</div>

    <div class="editorial-wrapper">

        <p>So how does Covid-19 compare to other diseases?</p>

        <p>Here, you can see the same spread patterns generated based on the R0 for a range of pathogens in a range of situations.</p>

        <p>Here, you can see the same spread patterns generated based on the R0 for a range of pathogens in a range of situations, ranging from the Spanish flu to the highly-contagious measles, for which R0 has been estimated to range between 12 and 18.</p>

    </div>

	<div id="r-zero-small-multiples" data-loader="multiples">
     
        <div class="virology">
            <img src="<%= path %>/assets/virology/microbe-1.svg" alt="">
        </div>

        <div class="virology">
            <img src="<%= path %>/assets/virology/microbe-2.svg" alt="">
        </div>

        <div class="virology">
            <img src="<%= path %>/assets/virology/microbe-3.svg" alt="">
        </div>

        <div class="virology">
            <img src="<%= path %>/assets/virology/microbe-4.svg" alt="">
        </div>

        <div class="virology">
            <img src="<%= path %>/assets/virology/microbe-5.svg" alt="">
        </div>

        <div class="virology">
            <img src="<%= path %>/assets/virology/microbe-6.svg" alt="">
        </div>

        <div class="virology">
            <img src="<%= path %>/assets/virology/microbe-7.svg" alt="">
        </div>

        <div class="virology">
            <img src="<%= path %>/assets/virology/microbe-8.svg" alt="">
        </div>

    </div>

    <div class="editorial-wrapper">

        <p>However the R0 is not the only important number. The effective reproduction number, R, is a value that takes into account the susceptibility of the population. </p>

    </div>

    <div id="scrolly-2" data-loader="effective">
        <div class="scroll-wrapper">
            <div class="scroll-inner">

                <div id="effective-simulator"></div>

            </div>

            <div class="scroll-text">

                <div class="scroll-text__inner">
                    <div class="scroll-text__div">
                        Here, we start with a single person carrying an <span class="infected">infection</span> in a hypothetical population of 1000 <span class="uninfected">uninfected</span> people
                    </div>
                </div>

                <div class="scroll-text__inner">
                    <div class="scroll-text__div">
                        With any R value greater than 1, and a population that is entirely susceptible, the infection will spread throughout
                    </div>
                </div>

                <div class="scroll-text__inner">
                    <div class="scroll-text__div">
                        However, if some people are not susceptible to infection - because of immunity through vaccination, or because they are effectively immune via isolation - then the effective R value becomes lower, and the spread is incomplete, and slowed.
                    </div>
                </div>

                <div class="scroll-text__inner">
                    <div class="scroll-text__div">
                        If the effective R is reduced below one, then the spread can be halted. Reducing the R generally will also allow healthcare systems to better cope with the influx of patients
                    </div>
                </div>

                <div class="scroll-text__inner">
                    <div class="scroll-text__div">
                        Another variable is how deadly the disease is. Some diseases, like Ebola, have a lower R0 than other diseases, but a high fatality rate. Here, the <span class="death">purple circles</span> indicate a death after the infection has moved through the population. 
                    </div>
                </div>

                <div class="scroll-text__inner"></div>

            </div>
        </div>
    </div>

    <div class="editorial-wrapper">

        <p>The estimated fatality rate for Covid-19 varies again depending on the location and situation, and particularly on the level of testing being conducted. In the early outbreak in China, for example, <a href="https://jamanetwork.com/journals/jama/fullarticle/2762130?guestAccessKey=bdcca6fa-a48c-4028-8406-7f3d04a3e932&utm_source=For_The_Media&utm_medium=referral&utm_campaign=ftm_links&utm_content=tfl&utm_term=022420&mod=article_inline">one report put the case fatality rate at 2.3%</a>. In South Korea, the virus has an estimated case fatality rate of 1.2%.</p> 

        <p>Here, you can set the thresholds for different values and see how the result using our simplified model. The reality of pandemics is far more complex, but this does demonstrate the basic concepts underlying disease spread.</p>

    </div>

    <div id="scrolly-3" data-loader="pathogen">

        <div class="scroll-wrapper">

            <div class="scroll-inner">

                <div id="close"></div>

                <div id="pathogen-panel" class="boom hide">

                    <div class="mobile"></div>

                    <div class="control-panel">
                        
                        <strong>R<sub>0</sub>: <span id=r0></span></strong>
                    
                        <div class="filter_slider"></div>

                        <div class="legend_container">
                            R<sub>0</sub> is a mathematical term that indicates how contagious an infectious disease is. It’s also referred to as the reproduction number.
                        </div>

                    </div>

                    <div class="control-panel">

                        <strong>Fatality rate: <span id=r1></span></strong>
                
                        <div class="filter_slider"></div>

                        <div class="legend_container">

                            <em>Fatality rate</em> is the percentage of deaths caused by a disease compared to the total number of people with the disease.
                        
                        </div>

                    </div>

                    <div class="control-panel">

                        <strong>Suspectibilty: <span id=r2></span></strong>
                
                        <div class="filter_slider"></div>

                        <div class="legend_container">

                            <em>Susceptibility</em> to viral infections in the general population is determined by a number of factors and can be highly variable.
                        
                        </div>


                    </div>

                </div>

                <div id="pathogen-simulator"></div>

                <div id="info">Population of 1000 people</div>

                <div id="cases">

                    <strong>Case studies (covid 19)</strong>
                    
                    <div class="case" data-id="0">Diamond Princess</div>

                    <div class="case" data-id="1">Wuhan</div>

                    <div class="case" data-id="2">Korean cluster</div>

                    <strong>Other diseases</strong>

                    <div class="case" data-id="3">Measles</div>

                    <div class="case" data-id="4">Ebola</div>

                    <strong>Pandemics in the movies</strong>

                    <div class="case" data-id="5">Contagion</div>

                </div>

            </div>

            <div class="scroll-text">

                <div class="scroll-text__inner"></div>

                <div class="scroll-text__inner"></div>

                <div class="scroll-text__inner"></div>

            </div>

        </div>

    </div>
 
</div>

<div class="footer" id="footer">
    
    <div class="credits_read_more"><h2>Read more</h2></div>

    <ul class="footer-grid">

        <li>
            <div class="footer-item-container">
                <img src="https://i.guim.co.uk/img/media/bdf6204edfe5a088a1b84c4b75b4cff248658b43/0_0_3182_2400/master/3182.jpg?width=620&quality=85&auto=format&fit=max&s=8eedf5437706195c545dbc9de417bda9">
                <div class="footer-text-content">
                    <h2>Extreme sea level events ‘will hit once a year by 2050’</h2>
                </div>
                <a class="anchor" href="https://www.theguardian.com/environment/2019/sep/25/extreme-sea-level-events-will-hit-once-a-year-by-2050" target="_blank"></a>
            </div>
        </li>
    
        <li>
            <div class="footer-item-container">
                <img src="https://i.guim.co.uk/img/media/c0820aabc9c151087c45912f5b350b3c42ed3251/0_223_5859_3515/master/5859.jpg?width=620&quality=85&auto=format&fit=max&s=2c431108b1a329043abb4e25c67cc588">
                <div class="footer-text-content">
                    <h2>We have 12 years to limit climate change catastrophe, warns UN</h2>
                </div>
                <a class="anchor" href="https://www.theguardian.com/environment/2018/oct/08/global-warming-must-not-exceed-15c-warns-landmark-un-report" target="_blank"></a>
            </div>
        </li>

        <li>
            <div class="footer-item-container">
                <img src="https://i.guim.co.uk/img/media/ba523c4a3e604120ae23b1d6bab37e709a9c5802/0_321_4881_2929/master/4881.jpg?width=620&quality=85&auto=format&fit=max&s=b5c3d4e93048ba49eceeee3261a7a9a5">
                <div class="footer-text-content">
                    <h2>Past four years hottest on record, data shows</h2>
                </div>
                <a class="anchor" href="https://www.theguardian.com/environment/2018/nov/29/four-years-hottest-record-climate-change" target="_blank"></a>
            </div>
        </li>

        <li>
            <div class="footer-item-container">
                <img src="https://i.guim.co.uk/img/media/06ae39d3edcd246411dd098fe84fd6104aa856c8/0_104_5184_3111/master/5184.jpg?width=620&quality=85&auto=format&fit=max&s=1515fe07e1df2a4a9bdcb4768fc3c2f9">
                <div class="footer-text-content">
                    <h2>World leaders 'have moral obligation to act' after UN climate report</h2>
                </div>
                <a class="anchor" href="https://www.theguardian.com/environment/2018/oct/08/world-leaders-have-moral-obligation-to-act-after-un-climate-report" target="_blank"></a>
            </div>
        </li>

    </ul>

</div>