

<div class="header-wrapper">
    <div class="interactive-wrapper">
        <div class="int-tag">
            Climate change
        </div>
        <div class="headline-wrapper">
            <h1>How extreme sea level events are going to increase in Australia</h1>
        </div>
        <p class="standfirst">
            <span>Even with immediate cuts to carbon emissions, scientists expect sea level rise of 30cm-60cm by 2100, exposing millions of people to flooding.</span>
        </p>
        <div class="img-credit-header">
            Source: David Moir / AAP
        </div>
    </div>
</div>

<div class="interactive-wrapper interactive-wrapper--main">

    <div class="int-byline">

        <a href="https://www.theguardian.com/profile/nick-evershed">Nick Evershed</a>
        <time class="int-date" data-timestamp="1553842806000" datetime="2019-10-10T07:00:06+0000" itemprop="datePublished">8 October 2019</time>
        <div>
            <ul class="od-share">
                <li class="od-share__button od-share__button--facebook">
                    <a href="https://www.facebook.com/dialog/share?app_id=180444840287&amp;href=https://theguardian.com/environment/ng-interactive/2019/oct/08/how-extreme-sea-level-events-are-going-to-increase-in-australia"><svg class="od-share__icon" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                    <path d="M32.8 15H30c-2.2 0-2.6 1.1-2.6 2.6V21h5.3l-.7 5.3h-4.6V40h-5.5V26.3h-4.6V21h4.6v-3.9c0-4.6 2.8-7 6.8-7a31.28 31.28 0 0 1 4.1.2V15z"></path></svg></a>
                </li>
                <li class="od-share__button od-share__button--twitter">
                    <a href="https://twitter.com/intent/tweet?text=How%20extreme%20sea%20level%20events%20are%20going%20to%20increase%20in%20Australia&amp;url=https://theguardian.com/environment/ng-interactive/2019/oct/08/how-extreme-sea-level-events-are-going-to-increase-in-australia"><svg class="od-share__icon" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                    <path d="M36 19.3v.7c0 7.5-5.7 16.2-16.2 16.2a15.36 15.36 0 0 1-8.7-2.6 6.15 6.15 0 0 0 1.4.1 11.69 11.69 0 0 0 7.1-2.4 5.58 5.58 0 0 1-5.3-4 3.75 3.75 0 0 0 1.1.1 7.72 7.72 0 0 0 1.5-.2 5.7 5.7 0 0 1-4.6-5.6v-.1a5.59 5.59 0 0 0 2.6.7 5.73 5.73 0 0 1-2.5-4.7 6 6 0 0 1 .8-2.9 16.11 16.11 0 0 0 11.7 5.9 5.7 5.7 0 0 1-.1-1.3 5.7 5.7 0 0 1 5.7-5.7 6 6 0 0 1 4.2 1.8 11.25 11.25 0 0 0 3.6-1.4 6 6 0 0 1-2.5 3.2 9.54 9.54 0 0 0 3.3-.9 15.15 15.15 0 0 1-3.1 3.1z"></path></svg></a>
                </li>
                <li class="od-share__button od-share__button--email">
                    <a href="mailto:?subject=How%20extreme%20sea%20level%20events%20are%20going%20to%20increase%20in%20Australia&amp;body=https://theguardian.com/environment/ng-interactive/2019/oct/08/how-extreme-sea-level-events-are-going-to-increase-in-australia"><svg class="od-share__icon" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                    <path d="M34.3 22.3l-.6-.6-8.5 4-8.6-4-.4.6 9 7.4c-.1 0 9.1-7.4 9.1-7.4zm1.8-7.1H13.8L11.5 19v13.9l2.4 1.8h22.4l2.2-1.8V19l-2.4-3.8zm-.8 16.2H14.6V18.5h20.7v12.9z"></path></svg></a>
                </li>
            </ul>
        </div>
    </div>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit est condimentum aliquam mattis. Sed a magna pretium, porta lectus sit amet, tincidunt erat. In non posuere dui. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum a rhoncus metus, ac suscipit lorem. Phasellus sollicitudin mattis elit elementum molestie. Fusce risus diam, sagittis eu arcu ac, finibus mattis tortor. Ut rutrum fringilla risus. Praesent faucibus tincidunt enim, non ultricies turpis sagittis nec. Vivamus vestibulum rutrum finibus. Ut libero metus, fermentum non consectetur at, vulputate tincidunt dolor. Suspendisse at ullamcorper ipsum. Morbi ullamcorper dignissim elit. Aliquam eget leo vel tortor varius condimentum ut sed odio. In rutrum, odio eget tincidunt pulvinar, leo magna placerat felis, pulvinar efficitur orci sapien sed dolor. Phasellus posuere mattis blandit.</p>

	<div id="scrolly-1">
	    <div class="scroll-wrapper">
	        <div class="scroll-inner">
	            <div id="r-zero-animation">
                    <canvas id="covid-19" width='960' height='960'></canvas>   
                </div>
	        </div>
	        <div class="scroll-text">
	            <div class="scroll-text__inner">
	                <div class="scroll-text__div">
	                    <p>1</p>
	                </div>
	            </div>
	            <div class="scroll-text__inner">
	                <div class="scroll-text__div"> 
	                    <p>2</p>
	                </div>
	            </div>
	            <div class="scroll-text__inner">
	                <div class="scroll-text__div">
	                    <p>3</p>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

    <p>The actual increase in frequency will vary around Australia due to local conditions, like how much the present day sea level varies due to storm surges and astronomical tides.</p>

    <p>The IPCC has estimated the increase in extreme sea level events for 22 locations around Australia, which have tide gauges that are part of an important global dataset for monitoring sea level rise.</p>

    <p>The estimates focus on two climate change scenarios known as representative concentration pathways, or RCPs, and various time points. According to the CSIRO, RCP 2.6 is essentially a best-case scenario, with deep cuts in carbon emissions and with emissions and technology for removing for actively removing carbon dioxide from the atmosphere.</p>

    <p>RCP 8.5 is a worst-case scenario representing a future with little curbing of emissions and much greater warming.</p>

    <p>To give you more of a sense of what this change in frequency looks like, I’ve taken the probabilities from the IPCC estimates to make a simple animation simulating extreme sea level events over a 10-year period under the different scenarios. Each <strong><span class="red">red circle</span></strong> flashing on the map indicates an <strong><span class="red">extreme sea level event</span></strong> has occurred.</p>

	<div id="r-zero-small-multiples"></div>

    <p>It’s important to note that this only uses a simple random number generator based on the average probability given by the IPCC report, and doesn’t consider any influence of tides. In reality in many areas the extreme events would be increasingly periodic and regular.</p>

    <p>For many locations in eastern Australia, extreme sea level events will occur once a year by the middle of the century even under the best-case emissions scenario (RCP 2.6). In other locations, the frequency has increased to once every 10 years.</p>

    <p>Under the highest emissions scenario modelled (RCP 8.5), most Australian sites will experience extreme events once a year from 2046 to 2065 and Brisbane is projected to experience extreme sea level events at least 10 times a year.</p>


    <div id="scrolly-2">
        <div class="scroll-wrapper">
            <div class="scroll-inner">

                <div id="close"></div>

                <div id="pathogen-panel" class="boom hide">

                    <div class="mobile"></div>

                    <div class="control-panel">
                        
                        <strong>R<sub>0</sub>: <span id=r0></span></strong>
                    
                        <div class="filter_slider"></div>

                        <div class="legend_container">
                            R<sub>0</sub> is a mathematical term that indicates how contagious an infectious disease is. It’s also referred to as the reproduction number.
                        </div>

                    </div>

                    <div class="control-panel">

                        <strong>Fatality rate: <span id=r1></span></strong>
                
                        <div class="filter_slider"></div>

                        <div class="legend_container">
                            <em>Fatality rate</em> is the percentage of deaths caused by a disease compared to the total number of people with the disease.
                        </div>

                    </div>

                    <div class="control-panel">

                        <strong>Suspectibilty: <span id=r2></span></strong>
                
                        <div class="filter_slider"></div>

                        <div class="legend_container">
                            
                            <ul class="legend">
                                <li><span class="quarantine"></span> Effective quarantine</li>
                                <li><span class="suspectible"></span> Suspectible</li>
                                <li><span class="distancing"></span> Effective social distancing</li>
                            </ul>

                        </div>

                    </div>

                    <div class="control-panel">

                        <strong>Population: <span id=r3></span></strong>
                
                        <div class="filter_slider"></div>

                    </div>

                </div>

                <div id="pathogen-simulator"></div>

                <div id="info"></div>

                <div id="cases" class="boom hide">

                    <strong>Case studies (covid 19)</strong>
                    
                    <div class="case" data-id="0">Diamond Princess</div>

                    <div class="case" data-id="1">Wuhan</div>

                    <div class="case" data-id="2">Korean cluster (Patient 31)</div>

                    <strong>Other diseases</strong>

                    <div class="case" data-id="3">Measles</div>

                    <div class="case" data-id="4">Ebola</div>

                    <strong>Pandemics in the movies</strong>

                    <div class="case" data-id="5">Contagion</div>

                </div>

            </div>
            <div class="scroll-text">
                <div class="scroll-text__inner">

                </div>
                <div class="scroll-text__inner">

                </div>
                <div class="scroll-text__inner">

                </div>
            </div>
        </div>
    </div>

    <p>According to the IPCC while adaptation to sea level rise and an increased frequency of extreme sea-level events is possible, it becomes more challenging the higher that sea levels rise. This means that ambitious cuts in emissions will be required to achieve the best possible outcomes for coastal communities.</p> 
    <p><h2>Notes and references</h2></p>
    <p>The animation of extreme sea level events uses the probability for an event occuring on a single day, inferred from the mean amplification factor for the specified scenario given in the data files from <a href="https://www.ipcc.ch/srocc/download-report/">chapter 4 of the IPCC SROCC report</a>. 
    <p>The sea level rise graph based on <a href="https://research.csiro.au/slrwavescoast/sea-level/"> this chart from the CSIRO, which is based on McInnes et al. AMOJ 2015</a>.</p>    
 
</div>

<div class="footer" id="footer">
    
        <div class="credits_read_more"><h2>Read more</h2></div>
        <ul class="footer-grid">

            <li>
                <div class="footer-item-container">
                    <img src="https://i.guim.co.uk/img/media/bdf6204edfe5a088a1b84c4b75b4cff248658b43/0_0_3182_2400/master/3182.jpg?width=620&quality=85&auto=format&fit=max&s=8eedf5437706195c545dbc9de417bda9">
                    <div class="footer-text-content">
                        <h2>Extreme sea level events ‘will hit once a year by 2050’</h2>
                    </div>
                    <a class="anchor" href="https://www.theguardian.com/environment/2019/sep/25/extreme-sea-level-events-will-hit-once-a-year-by-2050" target="_blank"></a>
                </div>
            </li>

            
            <li>
                <div class="footer-item-container">
                    <img src="https://i.guim.co.uk/img/media/c0820aabc9c151087c45912f5b350b3c42ed3251/0_223_5859_3515/master/5859.jpg?width=620&quality=85&auto=format&fit=max&s=2c431108b1a329043abb4e25c67cc588">
                    <div class="footer-text-content">
                        <h2>We have 12 years to limit climate change catastrophe, warns UN</h2>
                    </div>
                    <a class="anchor" href="https://www.theguardian.com/environment/2018/oct/08/global-warming-must-not-exceed-15c-warns-landmark-un-report" target="_blank"></a>
                </div>
            </li>

            <li>
                <div class="footer-item-container">
                    <img src="https://i.guim.co.uk/img/media/ba523c4a3e604120ae23b1d6bab37e709a9c5802/0_321_4881_2929/master/4881.jpg?width=620&quality=85&auto=format&fit=max&s=b5c3d4e93048ba49eceeee3261a7a9a5">
                    <div class="footer-text-content">
                        <h2>Past four years hottest on record, data shows</h2>
                    </div>
                    <a class="anchor" href="https://www.theguardian.com/environment/2018/nov/29/four-years-hottest-record-climate-change" target="_blank"></a>
                </div>
            </li>

            <li>
                <div class="footer-item-container">
                    <img src="https://i.guim.co.uk/img/media/06ae39d3edcd246411dd098fe84fd6104aa856c8/0_104_5184_3111/master/5184.jpg?width=620&quality=85&auto=format&fit=max&s=1515fe07e1df2a4a9bdcb4768fc3c2f9">
                    <div class="footer-text-content">
                        <h2>World leaders 'have moral obligation to act' after UN climate report</h2>
                    </div>
                    <a class="anchor" href="https://www.theguardian.com/environment/2018/oct/08/world-leaders-have-moral-obligation-to-act-after-un-climate-report" target="_blank"></a>
                </div>
            </li>

            

        </ul>
    </div>