@import "mq";
@import "fonts";
@import "palette";
@import "scrolly";
@import "interactive";
@import "footer";


#data-viz-1 {
	width: 100%;
	height: 100vh;
}

#data-viz-2 {
	width: 100%;
	height: 100vh;
}