@import "mq";
@import "fonts";
@import "palette";
@import "scrolly";
@import "interactive";
@import "footer";
@import "pathogen";
@import "slider";


body {
	background-color: white;
}

#chart-animation {
	width: 100%;
	height: 100vh;
}

#radial-chart {
	margin: auto;
	width: 100%;
	height: 100vh;

	svg {

    position:absolute;
    top:50%;
    bottom:50%;
    
		@include mq($until: mobileLandscape) {
			transform:translate(0%, -50%);
		}

		@include mq($from: mobileLandscape) {
			transform:translate(0%, -50%);
		}

	}

}

#r-zero-small-multiples {
	width: 100%;
	display: inline-block;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	z-index: 99;
}

#intro_header {
	width: 100%;
	height: 100vh;
	background-color: red;
	position: absolute;
	top: 0px;
	left: 0px;
}

.header-wrapper .interactive-wrapper {
	position: relative;
	top: 0px;
	left: 0px;
}


.virology {
	position: relative;
	float: left;
	height: 0px;

	@include mq($until: mobileLandscape) {
		width: 100%;
		padding-bottom: 100%;
	}

	@include mq($from: mobileLandscape, $until: tablet) {
		width: 50%;
		padding-bottom: 50%;
	}

	@include mq($from: tablet) {
		width: 25%;
		padding-bottom: 25%;
	}

	box-sizing: border-box;
	background-color: white;

	svg {
		display: inline-block;
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%; 
		width: 100%; 
	}

	h4 {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		box-sizing: border-box;
		text-align: center;
		margin-top: 0px;
		font-size: 14px;
	}

}

.svg-content {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}
