@import "mq";
@import "fonts";
@import "palette";
@import "scrolly";
@import "header";
@import "interactive";
@import "footer";
@import "effective";
@import "pathogen";
@import "slider";
@import "social";
@import "multiples";

html,
body,
.element-atom,
.interactive-atom {
	width: 100%;
	max-width: 100%;
    height: 100%;
    background-color: white;
}

.element-atom,
.interactive-atom {
    margin: 0 !important;
    a {
		color: #c70000;
	}
}

.interactive-wrapper {
	position: relative;
	margin: auto;
	box-sizing: border-box;
	width: 100%;
}

.interactive-wrapper p, .interactive-wrapper .headline-wrapper, .interactive-wrapper h2, .interactive-wrapper .int-byline, .scroll-text  {
	width: 100%;
}

.interactive-wrapper {

.infected::after {

   content: '';
   display: inline-block;
   width: 15px;
   height: 15px;
   -moz-border-radius: 7.5px;
   -webkit-border-radius: 7.5px;
   border-radius: 7.5px;
   background-color:#d73027;
   margin-left: 4px;

}

.infected {
	display: inline-block;
	/*border:1px solid #000;*/
	background: #eaeaea;
	padding-left:4px;
	padding-right:4px;
	/*font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
}

.isolated::after {

   content: '';
   display: inline-block;
   width: 15px;
   height: 15px;
   -moz-border-radius: 7.5px;
   -webkit-border-radius: 7.5px;
   border-radius: 7.5px;
   background-color:#91bfdb;
   margin-left: 4px;

}

.isolated {
	display: inline-block;
	/*border:1px solid #000;*/
	background: #eaeaea;
	padding-left:4px;
	padding-right:4px;
	/*font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
}

.uninfected::after {

   content: '';
   display: inline-block;
   width: 15px;
   height: 15px;
   -moz-border-radius: 7.5px;
   -webkit-border-radius: 7.5px;
   border-radius: 7.5px;
   background-color:#fee090;
   margin-left: 4px;

}

.uninfected {
	display: inline-block;
	/*border:1px solid #000;*/
	background: #eaeaea;
	padding-left:4px;
	padding-right:4px;
	/*font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
}

.death::after {

   content: '';
   display: inline-block;
   width: 15px;
   height: 15px;
   -moz-border-radius: 7.5px;
   -webkit-border-radius: 7.5px;
   border-radius: 7.5px;
   background-color:#542788;
   margin-left: 4px;

}

.death {
	display: inline-block;
	/*border:1px solid #000;*/
	background: #eaeaea;
	padding-left:4px;
	padding-right:4px;
	/*font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
}


#chart-animation {
	width: 100%;
	height: 100vh;
}

.radial-chart-container {
	position: relative;
	width: 100%;
	height: 100vh;	
}

#radial-chart {
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.radial-total {
	font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 12px;
	fill: red;
	font-weight: 600;
}

.radial-info {
	font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 12px;
	fill: black;
	font-weight: 600;
}

.radial-total-big {
	font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
	fill: red;
	font-weight: 600;
}

.radial-info-big {
	font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
	fill: black;
	font-weight: 600;
}




#mini {

	.line {
	    fill: none;
	    stroke: red;
	    stroke-width: 3;
	}

	svg {
		overflow: hidden;
	}
	  
}

.x-axis {
	font-size: 8px;
}

}
