@import "mq";


#r-zero-small-multiples {
	width: 100%;
	display: inline-block;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	z-index: 99;

	.virology {
		position: relative;
		float: left;
		height: 0px;
		margin-bottom: 10px;
		font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-size: 11px;

		@include mq($until: mobileLandscape) {
			width: 100%;
			padding-bottom: 100%;

			border-bottom: 1px solid lightgrey;
		}

		@include mq($from: mobileLandscape, $until: tablet) {
			width: 50%;
			padding-bottom: 50%;

			&:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6) {
			 border-bottom: 1px solid lightgrey;
			}

		}

		@include mq($from: tablet) {
			width: 25%;
			padding-bottom: 25%;

			&:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4) {
				border-bottom: 1px solid lightgrey;
			}

		}

		box-sizing: border-box;
		background-color: white;

		svg {
			display: inline-block;
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%; 
			width: 100%; 
		}

		img {
			width: 100%;
			height: auto;
		}

		h4 {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			box-sizing: border-box;
			text-align: center;
			margin-top: 0px;
			font-size: 14px;
		}

	}

}