@import "mq";
@import "palette";

.site-message__inner, .js-site-message-inner {
	display: none;
}

#scrolly-3 {

	.close {

		z-index: 115;

		@include mq($until: tablet) {
			width: 40px;
			height: 40px;
			box-sizing: border-box;
			background-color: white;
			border: 1px solid black;
			border-radius: 50%;
			cursor: pointer;
			background-image: url('<%= path %>/assets/close.svg');
			background-size: cover;
			margin: 20px;
			clear: left;
		}

		@include mq($from: tablet) {
			display: none;
		}

	}

	#settings {

		z-index: 110;

		@include mq($until: tablet) {
			width: 40px;
			height: 40px;
			background-color: white;
			border: 1px solid black;
			border-radius: 50%;
			cursor: pointer;
			position: absolute;
			top: 20px;
			right: 20px;
			background-image: url('<%= path %>/assets/settings.svg');
			background-size: cover;
		}

		@include mq($from: tablet) {
			display: none;
		}

	}

	#info {

		z-index: 110;

		@include mq($until: tablet) {
			width: 40px;
			height: 40px;
			background-color: white;
			border: 1px solid black;
			border-radius: 50%;
			cursor: pointer;
			position: absolute;
			top: 20px;
			left: 20px;
			background-image: url('<%= path %>/assets/info.svg');
			background-size: cover;
		}

		@include mq($from: tablet) {
			display: none;
		}


	}

	#pathogen-simulator {
		width: 100%;
		z-index: 109;
		
		@include mq($until: mobileLandscape) {
			height: 100vh;
		}
		
		@include mq($from: mobileLandscape, $until: tablet) {
			height: calc(100vh - 250px);
		}

		@include mq($from: tablet) {
			height: calc(100vh - 200px);
		}

	}

	#key-container {

		position: absolute;
		font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-size: 12px;
		line-height: 15px;
		z-index: 110;
		margin-top: 10px;

		h2 {
			margin-bottom: 10px;
		}

		@include mq($until: tablet) {
			width: 100%;
			bottom: 60px;
			box-sizing: border-box;
			padding: 20px;
		}

		@include mq($from: tablet) {
			width: 250px;
			display: inline-block;
			left: 0px;
			top: 160px;
		}

		.key-main {
			width: 100%;
			font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			font-size: 12px;

			span {

				@include mq($until: mobileLandscape) {
					display: none;
				}

			}

			@include mq($until: tablet) {

			}

			@include mq($from: tablet) {

			}

		}

		.key-menu {
			width: 100%;
			font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			font-size: 12px;

			@include mq($until: tablet) {
				margin-top: 10px;
				width: 100%;
			    height: 50px;
			    display: inline-block;
			    background-color: #333;
			    z-index: 110;
			    font-family: 'Guardian Text Sans Web', 'Agate Sans', sans-serif;
			    position: relative;
			    margin: 10px 10px 10px 0;
			    padding: 0 10px;
			    box-sizing: border-box;

			    select {
				    opacity: 0;
				    width: 100%;
				    height: 50px;
				    line-height: 50px;
				    -webkit-appearance: menulist-button;
				    position: absolute;
				    top: 0;
				    display: block;
				    left: 0;
				    color: #333;
			    }

				option {
				    font-weight: normal;
				    display: block;
				    white-space: pre;
				    min-height: 1.2em;
				    padding: 0px 2px 1px;
				}

				.selection-name {
				    color: #fff;
				    font-weight: bold;
				}

				.filter-label {
				    width: 100%;
				    color: #bdbdbd;
				    line-height: 50px;
				    font-size: 14px;
				}


			}

			@include mq($from: tablet) {
				display: none;
			}

		}


	}

	#pathogen-panel {

		width: 100%;
		background-color: white;
		box-sizing: border-box;

		@include mq($until: tablet) {
			position: absolute;
			top: 0px;
			height: 100vh;
		}

		@include mq($from: tablet) {
			display: inline-block;
			padding: 5px;
			border: 1px solid black;
			margin-top: 20px;
		}

	}

	.hide {
		@include mq($until: tablet) {
			display: none;
			
		}
	}

	#pathogen-panel.hide {
		z-index: 16;
	}

	#pathogen-panel:not(.hide) {
		z-index: 115;
	}

	.control-panel {

		box-sizing: border-box;

		@include mq($until: mobileLandscape) {
			width: 100%;
			display: inline-block;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 5px;
		}
		
		@include mq($from: mobileLandscape, $until: tablet) {
			width: 50%;
			float: left;
			padding: 20px;
		}

		@include mq($from: tablet) {
			width: 25%;
			float: left;
			padding: 20px;
		}
	}

	.filter_slider {


		@include mq($until: tablet) {
		margin-top: 10px;
		margin-bottom: 10px;
		}

		@include mq($from: tablet) {
		margin-top: 10px;
		margin-bottom: 10px;
		}


	}

	#mini {
		width: 100%;
		display: inline-block;


		@include mq($until: tablet) {
		margin-bottom: 20px;
		margin-top: 20px;
		}

	}

	#info-panel {
		
		background-color: white;
		position: absolute;
		font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-size: 12px;
		line-height: 14px;
		z-index: 112;

		@include mq($until: tablet) {
			width: 100%;
			top: 0px;
			bottom: 0px;
			box-sizing: border-box;
		}

		@include mq($from: tablet) {
			width: 150px;
			left: 0px;
			bottom: 5px;
			border: 1px solid black;
			padding: 10px;
		}

		#info-display {

			@include mq($until: tablet) {
				width: 100%;
				padding: 20px;
			}

			@include mq($from: tablet) {
				width: 150px;
			}

		}

		.context {

			width: 100%;
			margin-top: 5px;
			margin-bottom: 5px;
			box-sizing: border-box;
			padding: 10px;
			background-color: $tertiary;
			color: black;
			font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			font-size: 11px;
			line-height: 12px;


			@include mq($until: tablet) {
				display: none;
			}

		}

		.note {
			font-size: 10px;
			line-height: 12px;

			@include mq($until: tablet) {
				width: 100%;
			}

			@include mq($from: tablet) {

			}


		}

	}

	#cases {
		
		background-color: white;
		z-index: 111;
		font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-size: 12px;

		@include mq($until: tablet) {
			display: none;
		}

		@include mq($from: tablet) {
			position: absolute;
			width: 150px;
			bottom: 5px;
			right: 0px;
			border: 1px solid black;
			padding: 10px;
		}

	}

	.case {
	    background-color: #eaeaea;
	    border-radius: 62.5rem;
	    border: none;
	    width: 100%;
	    outline: 0;
	    box-sizing: border-box;
	    font-size: 12px;
	    line-height: 16px;
	    font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	    color: #767676;
	    padding: 4px 10px;
	    margin: 1px 1px;
	    text-align: left;
	    cursor: pointer;
	    margin-top: 5px;
	    margin-bottom: 5px;
	}

	.case:hover {
		background-color: black;
		color: white;
		font-weight: bold;
	}

	.legend_container {
		width: 100%;
		
		
		font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-size: 12px;
		color: darkgrey;

		@include mq($until: mobileLandscape) {
			margin-bottom: 5px;
			margin-top: 15px;
		}
		
		@include mq($from: mobileLandscape, $until: tablet) {
			margin-top: 10px;
			margin-bottom: 10px;
			height: 40px;
		}

		@include mq($from: tablet) {
			margin-top: 10px;
			margin-bottom: 10px;
			height: 40px;
		}

	}

	.control-panel:nth-of-type(4) .noUi-connects {
		/* background: linear-gradient(to left,#0000ff, #ff00ff); */
	}

	/* basic positioning */
	.legend { list-style: none; }
	.legend li { float: left; margin-right: 10px; }
	.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
	/* your colors */
	.legend .quarantine { background-color: #ff00ff; }
	.legend .suspectible { background-color: red; }
	.legend .distancing { background-color: #0000ff; }

}


