@import "mq";

#pathogen-simulator {
	width: 100%;
	


	@include mq($until: mobileLandscape) {
		height: calc(100vh - 200px);
	}
	
	@include mq($from: mobileLandscape, $until: tablet) {
		height: calc(100vh - 150px);
	}

	@include mq($from: tablet) {
		height: calc(100vh - 100px);
	}


}



.control-panel {

	box-sizing: border-box;
	

	@include mq($until: mobileLandscape) {
		width: 100%;
	}
	
	@include mq($from: mobileLandscape, $until: tablet) {
		width: 50%;
		float: left;
		padding: 10px;
	}

	@include mq($from: tablet) {
		width: 25%;
		float: left;
		padding: 20px;
	}
}

#pathogen-panel {

	display: inline-block;
	width: 100%;
	background-color: white;
	border: 1px solid black;
	box-sizing: border-box;
	padding: 20px;



}

.filter_slider {


	@include mq($until: tablet) {
	margin-top: 5px;
	margin-bottom: 5px;
	}

	@include mq($from: tablet) {
	margin-top: 10px;
	margin-bottom: 10px;
	}


}

#info {
	border: 1px solid black;
	background-color: white;
	padding: 20px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	width: 200px;
	z-index: 999;
	font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 12px;
}