@import "mq";

#pathogen-simulator {
	width: 100%;
	


	@include mq($until: mobileLandscape) {
		height: calc(100vh - 300px);
	}
	
	@include mq($from: mobileLandscape, $until: tablet) {
		height: calc(100vh - 250px);
	}

	@include mq($from: tablet) {
		height: calc(100vh - 200px);
	}


}



.control-panel {

	box-sizing: border-box;
	

	@include mq($until: mobileLandscape) {
		width: 100%;
	}
	
	@include mq($from: mobileLandscape, $until: tablet) {
		width: 50%;
		float: left;
		padding: 10px;
	}

	@include mq($from: tablet) {
		width: 25%;
		float: left;
		padding: 20px;
	}
}

#pathogen-panel {

	display: inline-block;
	width: 100%;
	background-color: white;
	border: 1px solid black;
	box-sizing: border-box;
	padding: 20px;



}

.filter_slider {


	@include mq($until: tablet) {
	margin-top: 5px;
	margin-bottom: 5px;
	}

	@include mq($from: tablet) {
	margin-top: 10px;
	margin-bottom: 10px;
	}


}

#info {
	border: 1px solid black;
	background-color: white;
	padding: 10px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	width: 150px;
	z-index: 999;
	font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 12px;
}

#cases {
	border: 1px solid black;
	background-color: white;
	padding: 10px;
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 150px;
	z-index: 999;
	font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 12px;
}

.case {
	cursor: pointer;
}

.legend_container {
	width: 100%;
	height: 40px;
	margin-top: 20px;
	font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 12px;
	color: darkgrey;
}

.control-panel:nth-of-type(3) .noUi-connects {
	background: linear-gradient(to left,#0000ff, #ff00ff);
}

/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .quarantine { background-color: #ff00ff; }
.legend .suspectible { background-color: red; }
.legend .distancing { background-color: #0000ff; }
